aclocal.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
patch
weekeyboard
stamp-h1
*.o
*.lo
.deps
.libs
*.orig
*.rej
*.bak
*~
input-method-client-protocol.h
input-method-protocol.c
text-client-protocol.h
text-protocol.c
weekeyboard-ibus-test
weekeyboard-config-eet-test
